In [2]:
import pandas as pd

In [5]:
pd.__version__

'2.0.3'

In [36]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")

In [34]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [37]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
from sqlalchemy import create_engine

In [28]:
conda install psycopg2

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 24.5.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=24.5.0



## Package Plan ##

  environment location: /Users/sahin.dursun/anaconda3

  added / updated specs:
    - psycopg2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2024.3.11  |       hca03da5_0         128 KB
    certifi-2024.6.2           |  py311hca03da5_0         162 KB
    openssl-3.0.14             |       h80987f9_0         4.3 MB
    psycopg2-2.9.9             |  py311h80987f9_0         174 KB
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following NEW packages will be INSTALLED:

  psycopg2           pkgs/main/osx-arm64::psycopg2-2.9.9-py311h80987f9_0

The following packages will be UPDATED:

  ca-certificates                     2023.12.12-hca03da5_0 --> 2024.3.11-hca03da5_0
  certifi                        2023.11.17-py311hca03da5_0 --> 2024.6.2-py311hca03da5_0
  openssl                                 3.0.12-h1a28f6b_0 --> 3.0.14-h80987f9_0



Downloading and Extracting Packages
psycopg2-2.9.9       | 174 KB    |                                       |   0%
ca-certificates-2024 | 128 KB    |                                       |   0%

certifi-2024.6.2     | 162 KB    |                                       |   0%


psycopg2-2.9.9       | 174 KB    | ###4                                  |   9%
ca-certificates-2024 | 128 KB    | ####6                                 |  12%


openssl-3.0.14       | 4.3 MB    | 1                                     |   0%

certifi-2024.6.2     | 162 KB    | ###6                                  |  10%
ca-certificates-2024 | 128 KB    | ##################################### | 100%

psycopg2-2.9.9       | 174 KB    | ##################################### | 100%


openssl-3.0.14       | 4.3 MB    | ####################2                 |  55%


openssl-3.0.14       | 4.3 MB    | ##################################### | 100%









Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [48]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [49]:
engine.connect()

In [42]:
df.head(n=0).to_sql(name='yellow_taxi_data', con =engine, if_exists='replace')

0

In [40]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [43]:
df.to_sql(name='yellow_taxi_data', con =engine, if_exists='replace')

769

In [44]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2024-06-21 22:22:12--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Slår upp d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2764:a600:b:20a5:b140:21, 2600:9000:2764:e600:b:20a5:b140:21, 2600:9000:2764:3600:b:20a5:b140:21, ...
Ansluter till d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2764:a600:b:20a5:b140:21|:443 … ansluten.
HTTP-begäran skickad, väntar på svar... 200 OK
Längd: 12331 (12K) [text/csv]
Sparar till: ”taxi_zone_lookup.csv”

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    om 0,001s

2024-06-21 22:22:12 (13,6 MB/s) - ”taxi_zone_lookup.csv” sparades [12331/12331]

In [45]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [46]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [50]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265